* text=auto !eol
Amp/.classpath -text svneol=unset#text/plain
Amp/.project -text svneol=unset#text/plain
Amp/build.xml -text
Amp/ivy.xml -text
Amp/src/stereo/player/AudioPlayer.java -text svneol=unset#text/plain
Amp/src/stereo/player/Main.java -text svneol=unset#text/plain
Amp/src/stereo/player/StereoAmp.java -text svneol=unset#text/plain
Asunder/.classpath -text
Asunder/.project -text
Asunder/.settings/.jsdtscope -text
Asunder/.settings/org.eclipse.wst.jsdt.ui.superType.container -text
Asunder/.settings/org.eclipse.wst.jsdt.ui.superType.name -text
Asunder/.settings/org.eclipse.wst.validation.prefs -text
Asunder/build.xml -text
Asunder/ivy.xml -text
Asunder/src/webserver/FileLoader.java -text
Asunder/src/webserver/ajax.js -text
Asunder/src/webserver/bignum.js -text
Asunder/src/webserver/control/daap.js -text svneol=unset#text/plain
Asunder/src/webserver/control/dacp.js -text svneol=unset#text/plain
Asunder/src/webserver/control/index.html -text svneol=unset#text/plain
Asunder/src/webserver/dacp.js -text
Asunder/src/webserver/favicon.ico -text
Asunder/src/webserver/index.xhtml -text
Asunder/src/webserver/spotlight/daap.js -text svneol=unset#text/plain
Asunder/src/webserver/spotlight/dacp.js -text svneol=unset#text/plain
Asunder/src/webserver/spotlight/index.html -text svneol=unset#text/plain
Asunder/src/webserver/spotlight/jquery-1.3.1.min.js -text svneol=unset#text/plain
Asunder/src/webserver/spotlight/style.css -text svneol=unset#text/plain
Asunder/src/webserver/spotlight/views.js -text svneol=unset#text/plain
Asunder/src/webserver/style.css -text
Asunder/src/webserver/svgloader.js -text
CLI/.classpath -text
CLI/.project -text
CLI/build.xml -text
CLI/ivy.xml -text
CLI/src/clinterface/CLI.java -text
CLI/src/clinterface/CLIAlbum.java -text
CLI/src/clinterface/CLIPlaylist.java -text
CLI/src/clinterface/CLITrack.java -text
CLI/src/clinterface/DACPDJInterface.java -text
CLI/test/clinterface/CLITest.java -text
DAAPClient/.classpath -text svneol=unset#text/plain
DAAPClient/.project -text svneol=unset#text/plain
DAAPClient/build.xml -text
DAAPClient/ivy.xml -text
DAAPClient/src/META-INF/services/spi.SourceProvider -text
DAAPClient/src/daap/DAAPAlbum.java -text
DAAPClient/src/daap/DAAPClient.java -text
DAAPClient/src/daap/DAAPEntry.java -text
DAAPClient/src/daap/DAAPLackey.java -text
DAAPClient/src/daap/DAAPTrack.java -text
DAAPClient/src/daap/DAAPUtilities.java -text
DAAPClient/src/daap/content-codes.txt -text
DAAPServer/.classpath -text svneol=unset#text/plain
DAAPServer/.project -text svneol=unset#text/plain
DAAPServer/build.xml -text
DAAPServer/ivy.xml -text svneol=unset#text/plain
DAAPServer/src/stereo/daap/server/Main.java -text svneol=unset#text/plain
DACPServer/.classpath -text
DACPServer/.project -text
DACPServer/build.xml -text
DACPServer/etc/memphis-stereo.plist -text
DACPServer/etc/str2bin.pl -text
DACPServer/ivy.xml -text
DACPServer/src/META-INF/services/spi.StereoServer -text
DACPServer/src/dacp/DACPServer.java -text
DACPServer/src/reader/DACPRequestParser.java -text
DACPServer/src/reader/DACPResponseParser.java -text
DACPServer/src/util/DACPPacket.java -text
DACPServer/src/util/DACPStatusPacket.java -text
DACPServer/src/util/command/Command.java -text
DACPServer/src/util/command/Connect.java -text svneol=unset#text/plain
DACPServer/src/util/command/ContentCodes.java -text svneol=unset#text/plain
DACPServer/src/util/command/CtrlInt.java -text
DACPServer/src/util/command/Databases.java -text
DACPServer/src/util/command/HTMLClient.java -text
DACPServer/src/util/command/Image.java -text svneol=unset#text/plain
DACPServer/src/util/command/Login.java -text
DACPServer/src/util/command/Logout.java -text
DACPServer/src/util/command/PathNode.java -text
DACPServer/src/util/command/RequestNode.java -text
DACPServer/src/util/command/ServerInfo.java -text
DACPServer/src/util/command/Song.java -text svneol=unset#text/plain
DACPServer/src/util/command/Update.java -text
DACPServer/src/util/command/ctrlint/ControlPromptUpdate.java -text
DACPServer/src/util/command/ctrlint/Cue.java -text
DACPServer/src/util/command/ctrlint/Current.java -text svneol=unset#text/plain
DACPServer/src/util/command/ctrlint/GetProperty.java -text
DACPServer/src/util/command/ctrlint/GetSpeakers.java -text svneol=unset#text/plain
DACPServer/src/util/command/ctrlint/NextItem.java -text
DACPServer/src/util/command/ctrlint/NowPlayingArtwork.java -text
DACPServer/src/util/command/ctrlint/Pause.java -text
DACPServer/src/util/command/ctrlint/PlayPause.java -text
DACPServer/src/util/command/ctrlint/PlaySpec.java -text
DACPServer/src/util/command/ctrlint/PlayStatusUpdate.java -text
DACPServer/src/util/command/ctrlint/Playlist.java -text
DACPServer/src/util/command/ctrlint/PrevItem.java -text
DACPServer/src/util/command/ctrlint/SetProperty.java -text
DACPServer/src/util/command/ctrlint/Stop.java -text
DACPServer/src/util/command/databases/Browse.java -text
DACPServer/src/util/command/databases/ContainerEdit.java -text
DACPServer/src/util/command/databases/Containers.java -text
DACPServer/src/util/command/databases/Edit.java -text
DACPServer/src/util/command/databases/Groups.java -text
DACPServer/src/util/command/databases/Items.java -text
DACPServer/src/util/queryparser/And.java -text
DACPServer/src/util/queryparser/ApplyFilter.java -text
DACPServer/src/util/queryparser/BinOp.java -text
DACPServer/src/util/queryparser/Filter.java -text
DACPServer/src/util/queryparser/Or.java -text
DACPServer/src/util/queryparser/QueryParser.java -text
DACPServer/src/util/queryparser/Token.java -text
DACPServer/src/writer/DACPRequestGenerator.java -text
DACPServer/src/writer/DACPResponseGenerator.java -text
DACPServer/test/client/ClientBroadcasterTest.java -text
DACPServer/test/server/ServerParserTest.java -text
DMAP/.classpath -text svneol=unset#text/plain
DMAP/.project -text svneol=unset#text/plain
DMAP/src/api/Node.java -text
DMAP/src/api/Reader.java -text
DMAP/src/api/Response.java -text
DMAP/src/api/Writer.java -text
DMAP/src/dmap/DACPReader.java -text
DMAP/src/dmap/DACPWriter.java -text
DMAP/src/dmap/node/AlbumNode.java -text
DMAP/src/dmap/node/BooleanNode.java -text
DMAP/src/dmap/node/ByteNode.java -text
DMAP/src/dmap/node/Composite.java -text
DMAP/src/dmap/node/ImageNode.java -text
DMAP/src/dmap/node/IntegerNode.java -text
DMAP/src/dmap/node/LengthVisitor.java -text
DMAP/src/dmap/node/LongLongNode.java -text
DMAP/src/dmap/node/LongNode.java -text
DMAP/src/dmap/node/Node.java -text
DMAP/src/dmap/node/PageNode.java -text
DMAP/src/dmap/node/PlaylistNode.java -text
DMAP/src/dmap/node/StringNode.java -text
DMAP/src/dmap/node/TrackNode.java -text
DMAP/src/dmap/node/VersionNode.java -text
DMAP/src/dmap/node/Visitor.java -text
DMAP/src/dmap/response/ContentCodes.java -text
DMAP/src/dmap/response/ControlPromptUpdate.java -text
DMAP/src/dmap/response/CtrlInt.java -text
DMAP/src/dmap/response/Databases.java -text
DMAP/src/dmap/response/Login.java -text
DMAP/src/dmap/response/PlaylistSongs.java -text
DMAP/src/dmap/response/ServerInfo.java -text
DMAP/src/dmap/response/Update.java -text
DMAP/src/dmap/response/ctrlint/GetProperty.java -text
DMAP/src/dmap/response/ctrlint/GetSpeakers.java -text
DMAP/src/dmap/response/ctrlint/PlayStatusUpdate.java -text
DMAP/src/dmap/response/databases/Browse.java -text
DMAP/src/dmap/response/databases/Groups.java -text
DMAP/src/dmap/response/databases/NewPlaylist.java -text
DMAP/src/dmap/response/databases/Playlists.java -text
DMAP/test/api/impl/Album.java -text
DMAP/test/api/impl/Playlist.java -text
DMAP/test/api/impl/StreamPrinter.java -text
DMAP/test/api/impl/Track.java -text
DMAP/test/dmap/DACPReaderTest.java -text svneol=unset#text/plain
DMAP/test/dmap/DACPWriterTest.java -text svneol=unset#text/plain
DMAP/test/dmap/response/ContentCodesTest.java -text
DMAP/test/dmap/response/ControlPromptUpdateTest.java -text
DMAP/test/dmap/response/CtrlIntTest.java -text
DMAP/test/dmap/response/DatabasePlaylistsTest.java -text
DMAP/test/dmap/response/DatabasesTest.java -text
DMAP/test/dmap/response/LoginTest.java -text
DMAP/test/dmap/response/PlaylistSongsTest.java -text
DMAP/test/dmap/response/ServerInfoTest.java -text
DMAP/test/dmap/response/UpdateTest.java -text
DMAP/test/dmap/response/ctrlint/GetPropertyTest.java -text
DMAP/test/dmap/response/ctrlint/PlayStatusUpdateTest.java -text
DMAP/test/dmap/response/databases/BrowseTest.java -text
DMAP/test/dmap/response/databases/NewPlaylistTest.java -text
DNS-SD/.classpath -text svneol=unset#text/plain
DNS-SD/.project -text svneol=unset#text/plain
DNS-SD/src/META-INF/services/spi.StereoServer -text
DNS-SD/src/META-INF/services/stereo.dnssd.DNSSDProvider -text
DNS-SD/src/stereo/dnssd/AppleDNSSDImpl.java -text svneol=unset#text/plain
DNS-SD/src/stereo/dnssd/DNSSD.java -text svneol=unset#text/plain
DNS-SD/src/stereo/dnssd/DNSSDProvider.java -text svneol=unset#text/plain
MPRISServer/.classpath -text svneol=unset#text/plain
MPRISServer/.project -text svneol=unset#text/plain
MPRISServer/src/META-INF/services/spi.StereoServer -text
MPRISServer/src/mpris/MPRISServer.java -text
MPRISServer/src/mpris/dbustypes/FullVersion.java -text
MPRISServer/src/mpris/dbustypes/StatusCode.java -text
MPRISServer/src/org/freedesktop/MediaPlayer.java -text
MemphisDJ/.classpath -text
MemphisDJ/.project -text
MemphisDJ/Sample/sample/CompositeEntry.java -text
MemphisDJ/Sample/sample/DaapSong.java -text
MemphisDJ/Sample/sample/DaapSource.java -text
MemphisDJ/Sample/sample/Entry.java -text
MemphisDJ/Sample/sample/SongFactory.java -text
MemphisDJ/Sample/sample/SourceFactory.java -text
MemphisDJ/Sample/sample/TypedEntry.java -text
MemphisDJ/build.xml -text
MemphisDJ/ivy.xml -text
MemphisDJ/src/Main.java -text svneol=unset#text/plain
MemphisDJ/src/interfaces/AbstractAlbum.java -text
MemphisDJ/src/interfaces/AbstractTrack.java -text svneol=unset#text/plain
MemphisDJ/src/interfaces/Album.java -text
MemphisDJ/src/interfaces/Constants.java -text
MemphisDJ/src/interfaces/DJInterface.java -text
MemphisDJ/src/interfaces/HasMetadata.java -text
MemphisDJ/src/interfaces/Library.java -text
MemphisDJ/src/interfaces/PlaybackControl.java -text
MemphisDJ/src/interfaces/PlaybackQueue.java -text
MemphisDJ/src/interfaces/PlaybackStatus.java -text
MemphisDJ/src/interfaces/Player.java -text
MemphisDJ/src/interfaces/Track.java -text
MemphisDJ/src/interfaces/VolumeControl.java -text
MemphisDJ/src/interfaces/collection/AbstractCollection.java -text
MemphisDJ/src/interfaces/collection/AbstractSetSource.java -text
MemphisDJ/src/interfaces/collection/Collection.java -text
MemphisDJ/src/interfaces/collection/ConcreteCollection.java -text svneol=unset#text/plain
MemphisDJ/src/interfaces/collection/EditableCollection.java -text svneol=unset#text/plain
MemphisDJ/src/interfaces/collection/EditableSource.java -text svneol=unset#text/plain
MemphisDJ/src/interfaces/collection/Source.java -text
MemphisDJ/src/music/AudioPlayer.java -text
MemphisDJ/src/music/CollectionTrack.java -text svneol=unset#text/plain
MemphisDJ/src/music/DJ.java -text
MemphisDJ/src/music/Library.java -text
MemphisDJ/src/music/LibraryTrack.java -text
MemphisDJ/src/music/PlaybackController.java -text
MemphisDJ/src/music/PlaybackQueue.java -text
MemphisDJ/src/music/Player.java -text
MemphisDJ/src/music/ShufflePlaylist.java -text svneol=unset#text/plain
MemphisDJ/src/music/UserCollection.java -text
MemphisDJ/src/music/VolumeControl.java -text
MemphisDJ/src/music/getvolume.sh -text
MemphisDJ/src/music/setvolume.sh -text
MemphisDJ/src/notification/AbstractEventGenerator.java -text
MemphisDJ/src/notification/EventGenerator.java -text
MemphisDJ/src/notification/LibraryListener.java -text
MemphisDJ/src/notification/Listener.java -text
MemphisDJ/src/notification/PlaybackListener.java -text
MemphisDJ/src/notification/PlayerListener.java -text
MemphisDJ/src/notification/QueueListener.java -text
MemphisDJ/src/notification/TrackSourceListener.java -text
MemphisDJ/src/spi/SourceProvider.java -text svneol=unset#text/plain
MemphisDJ/src/spi/StereoServer.java -text svneol=unset#text/plain
MemphisDJ/test/music/DJTest.java -text
MemphisDJ/test/music/LibraryTest.java -text
MemphisDJ/test/music/PlaylistTest.java -text
MemphisDJ/test/music/ShufflePlaylistTest.java -text svneol=unset#text/plain
MemphisDJ/test/player/PlayerTest.java -text svneol=unset#text/plain
MemphisDJ/test/player/music.mp3 -text
MemphisDJ/test/player/music.ogg -text
StereoPair/Classes/StereoPairAppDelegate.h -text
StereoPair/Classes/StereoPairAppDelegate.m -text
StereoPair/Classes/StereoPairViewController.h -text
StereoPair/Classes/StereoPairViewController.m -text
StereoPair/Info.plist -text
StereoPair/MainWindow.xib -text
StereoPair/StereoPair.xcodeproj/project.pbxproj -text
StereoPair/StereoPairViewController.xib -text
StereoPair/StereoPair_Prefix.pch -text
StereoPair/main.m -text
/build.xml -text
/common.xml -text
/ivy.xml -text
/ivysettings.xml -text
